*.[swo|swp]
server/node_modules
server/uploads
server/renders
audio_processing/.env
audio_processing/output
credentials/*.json
audio_processing/tmp
audio_processing/log.txt
audio_processing/tune_split_params/audio_samples
server/barker_database.db
server/barker_database.db.bak
server/public/node_modules
