.DS_Store
*.[swo|swp]
server/node_modules
server/uploads
server/renders
audio_processing/.env
audio_processing/output
audio_processing/__pycache__
credentials/*.json
credentials/server.crt
credentials/key.crt
audio_processing/tmp
audio_processing/*.pyc
audio_processing/log.txt
audio_processing/tune_split_params/audio_samples
server/barker_database.db
server/barker_database.db.bak
server/public/node_modules
server/public/sequence.aac
server/public/sequence.wav

audio_processing/tune_split_params/analysis.png
audio_processing/tune_split_params/analysis/
audio_processing/tune_split_params/crop_waveforms/
audio_processing/tune_split_params/crops/
audio_processing/tune_split_params/graphs/
audio_processing/tune_split_params/sox_crops/
audio_processing/tune_split_params/tmp/
audio_processing/tune_split_params/trimmed_crops/
audio_processing/tune_split_params/tune_samples/
audio_processing/tune_split_params/wav_samples/
audio_processing/plots

server/sessions
