@font-face {
    font-family: 'museo';
    src: url('/puppet/MuseoSansRounded-700.woff2') format('woff2'),
         url('puppet/MuseoSansRounded-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@keyframes wiggle {
    0% { transform:   translate(-50%, -50%) rotate(0deg); }
    80% { transform:  translate(-50%, -50%) rotate(0deg); }
    85% { transform:  translate(-50%, -50%) rotate(5deg); }
    95% { transform:  translate(-50%, -50%) rotate(-5deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}

body {
    font-family: 'museo';
    background-image: url('/puppet/k9_create_background.svg');
    background-size: cover;
    background-attachment: fixed; /* cover was still showing a seam oddly */
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #004692;
    height: 100%; /* ff needs this */
}

/*
this receives a scale transform (from js) based on the viewport size
which scales the entire page (except for the logo) up or down
 */
#content-holder {
    position: absolute;
    top: 50%;
    left: 50%;
}

/*
this contains the card and envelope, and provides a way to manipuate them
in unison. it gets faded in and slid in from the top after the page loads.
its the target for the wiggle animation
*/
#content {
    position: absolute;
    display: none;
    animation: wiggle 2s infinite;
    /* js animates this back to 50% */
    top: -350px;
    left: 50%;
    -webkit-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
    -webkit-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -moz-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
         -o-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}


/* the envelope pieces */
#envelope-back {
    width: 300px;
    height: 150px;
    background: #b49976;
    position: absolute;
    z-index: 0;
    transform: translateY(-50%);
}
#envelope-pouch {
    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 3;
    transform: translateY(-50%);
    background: repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/100% 5px no-repeat, repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/5px 100% no-repeat, repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 100% 100%/5px 100% no-repeat, #cebda6;
    -webkit-clip-path: polygon(80% 40%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 40%);
    clip-path: polygon(80% 40%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 40%);
    cursor: pointer;
}
#envelope-pouch:after {
    width: 300px;
    height: 150px;
    background: repeating-linear-gradient(-45deg, #c7b49a, #c7b49a 10px, #e74c3c 10px, #e74c3c 20px, #c7b49a 20px, #c7b49a 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/100% 5px no-repeat, #c7b49a;
    content: '';
    position: absolute;
    left: 0px;
    z-index: 4;
    -webkit-clip-path: polygon(70% 10%, 100% 100%, 0 100%, 30% 10%);
    clip-path: polygon(70% 10%, 100% 100%, 0 100%, 30% 10%);
}
#envelope-below {
    width: 300px;
    height: 300px;
    margin-top: 75px;
    background: #111;
    position: absolute;
    z-index: 2;
}
#envelope-flap {
    position: absolute;
    line-height: 500%;
    height: 112.5px;
    width: 300px;
    z-index: 5;
    transform: translateY(-75px);
    -webkit-clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
    clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
    background: repeating-linear-gradient(-45deg, #c1ab8e, #c1ab8e 10px, #e74c3c 10px, #e74c3c 20px, #c1ab8e 20px, #c1ab8e 30px, #1e90ff 30px, #1e90ff 40px) 0 0/100% 5px no-repeat, #c1ab8e;
    -webkit-transition: -webkit-transform 0.25s 0.5s;
    transition: -webkit-transform 0.25s 0.5s;
    transition: transform 0.25s 0.5s;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}
#envelope-flap-underside {
    position: absolute;
    height: 112.5px;
    width: 300px;
    z-index: 5;
    transform: translateY(-75px);
    background: #c1ab8e;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
    clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
    -webkit-transition:  -webkit-transform 0.25s 0.5s;
    transition: -webkit-transform 0.25s 0.5s;
    transition: transform 0.25s 0.5s;
    transition: transform 0.25s 0.5s, -webkit-transform 0.25s 0.5s;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}
.envelope-back-piece,
.envelope-flap-piece {
    left: calc(50% - 150px);
    top: 50%;
    transition: transform 0.8s cubic-bezier(0.63, -0.14, 1, 0.29);
}


/*
opening the top flap of the envelope is handled here with transitions.
the sliding away of the envelope after opening is done in js for now
 */
#envelope-flap.opened {
    -webkit-transition:-webkit-transform 0.25s 0s;
    transition: -webkit-transform 0.25s 0s;
    transition: transform 0.25s 0s;
    transition: transform 0.25s 0s, -webkit-transform 0.25s 0s;
    -webkit-transform: translateY(-75px) rotateX(-180deg);
    transform: translateY(-75px) rotateX(-180deg);
    z-index: 1;
}
#envelope-flap-underside.opened {
    -webkit-transition: -webkit-transform 0.25s 0s;
    transition: -webkit-transform 0.25s 0s;
    transition: transform 0.25s 0s;
    transition: transform 0.25s 0s, -webkit-transform 0.25s 0s;
    -webkit-transform: translateY(-75px) rotateX(-180deg);
    transform: translateY(-75px) rotateX(-180deg);
    z-index: 1;
}


/* card that comes out of the envelope */

/* this is for moving and scaling the whole card sub assembly */
#card-container {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transition: transform 0.5s;
    transform: translateX(-50%) translateY(-35%) scale(0.5);
    z-index: 2;
    border-radius: 15px;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
}
/* threejs canvas renders here */
#puppet-container {
    position: absolute;
}
/* this is a png overlay, sometimes with a frame */
#decoration-image {
    position: absolute;
}
/*
white translucent overlay over puppet when paused or replay waiting.
the big button sits inside this
 */
#big-button-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
}
/*
button on top of puppet showing play icon
*/
#big-play-button-overlay {
    position: absolute;
    top: 150px;
    left: 157px;
    background: #004692;
    border-radius: 136px;
    /* width: 201px; */
    z-index: 100;
}
#big-play-button {
    width: 114px;
}
#big-button-img {
    position: relative; /* TODO: why doesnt absolute work here */
    top: 50%;
    transform: translateY(-50%);
    width: 175px;
}


/*
the ui elements that accomany the card after the envelope is opened
are faded in with js. theyre positions are hardcoded based on eye,
and the content holder is responsible for scaling things correctly.
so the layout is always the same, relatively between elements.

there is a wide mode where the playback controls are on the left,
and app links are on the right

there is a mobile mode where they are below

the js uses the viewport aspect ratio to determine which mode to use,
and hides and shows elements accordingly
*/

/* mobile mode stuff */

/* logo */
#k9-logo {
    position: absolute;
    top: 2%;
    height: 6%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
/* mobile stuff below the card */
#mobile-replay-button {
    position: absolute;
    top: 288px;
    left: 157px;
    background: #004692;
    border-radius: 136px;
    /* width: 201px; */
    z-index: 100;
    display: none;
}
#mobile-replay-img {
    width: 114px;
}
#mobile-bottom-controls {
    position: absolute;
    top: 430px;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    margin-bottom: 40px;
    z-index: 10; /* card overlaps so this needs to be on top */
}
#mobile-volume-slider {
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
}
#mobile-volume-icon {
    position: absolute;
    width: 40px;
    top: -52px;
    left: 228px;
}
#mobile-share-button {
    width: 180px;
    font-size: 2em;
    margin: auto;
    border: 2px solid #004692;
    border-radius: 14px;
    line-height: 40px;
    letter-spacing: 1.4;
    cursor: pointer;
}
#mobile-hr {
    width: 80px;
    border: 1px solid #004692;
    margin-top: 30px;
    margin-bottom: 10px;
}
#mobile-app-tag-line {
    font-size: 2.5em;
    letter-spacing: 1.4;
}
#mobile-app-subhead {
    margin-top: 2.5%;
    font-size: 0.8em;
    line-height: 1.6;
}
#mobile-app-logos {
    margin-top: 5%;
    display: flex;
    text-align: center;
}
#mobile-app-logos > div {
    flex: 1 1 0;
}
#mobile-app-logos img {
    height: 50px;
}
#mobile-app-badges {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.app-badge {
    flex: 1 1 0;
}
.app-badge > img {
    width: 90px;
}

/* desktop control stuff */

/* logo */
#k9-logo-desktop {
    position: absolute;
    top: 2%;
    height: 7%;
    left: 2%;
    display: none;
}
/* desktop controls on the left */
#desktop-controls {
    position: absolute;
    display: none;
    /* just set by eye */
    height: 239px;
    width: 78px;
    top: -210px;
    left: -284px;
}

/* the subsections of the left controls */
#share-button {
    height: 50%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    width: 98%;
    border: 2px solid #004692;
    border-radius: 14px;
    cursor: pointer;
}
#share-text {
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
}
#desktop-hr {
    width: 80%;
    border: 1px solid #004692;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#desktop-share-icons {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}
.desktop-share-icon {
    flex: 1 1 0;
}

/* the blue vertical bar with play and pause and such */
.blue-background {
    border-radius: 14px;
    background: #004692;
}
.border {
    border: 1px solid red;
}
.flex-icon {
    width: 36%;
    cursor: pointer;
}
.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.desktop-playback-control > img {
    height: 60%;
    cursor: pointer;
}
#desktop-volume-slider {
    height: 75%;
}
.desktop-playback-control-tall input {
    position: relative;
    height: 80%;
}
input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    padding: 0 5px;
}

/* the links and text on the right of the card */
#desktop-app-links {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 240px;
    display: none;
    /* set by eye */
    left: 200px;
    top: -135px;
}
#app-tag-line {
    font-size: 2.5em;
    letter-spacing: 1.4;
}
#app-subhead {
    margin-top: 2.5%;
    font-size: 0.8em;
    line-height: 1.6;
}
#app-logos {
    margin-top: 5%;
    display: flex;
    text-align: center;
}
#app-logos > div {
    flex: 1 1 0;
}
#app-logos img {
    height: 50px;
}
#app-badges {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.app-badge {
    flex: 1 1 0;
}
.app-badge > img {
    width: 90px;
}

/* cover the screen with an error message if something goes wrong */
#error {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: white;
    transform: translateY(-50%);
}
