html {
    touch-action: manipulation; /* remove touch delay */
    -ms-touch-action: manipulation;
}
@font-face {
    font-family: 'museo';
    src: url('/puppet/MuseoSansRounded-700.woff2') format('woff2'),
         url('puppet/MuseoSansRounded-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@keyframes wiggle {
    0% { transform:   translate(-50%, -50%) rotate(0deg); }
    80% { transform:  translate(-50%, -50%) rotate(0deg); }
    85% { transform:  translate(-50%, -50%) rotate(5deg); }
    95% { transform:  translate(-50%, -50%) rotate(-5deg); }
    100% { transform: translate(-50%, -50%) rotate(0deg); }
}

body {
    font-family: 'museo';
    background-image: url('/puppet/k9_create_background.svg');
    background-size: cover;
    background-attachment: fixed; /* cover was still showing a seam oddly */
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #004692;
    height: 100%; /* ff needs this */
}

/*
this receives a scale transform (from js) based on the viewport size
which scales the entire page (except for the logo) up or down
 */
#content-holder {
    position: absolute;
    top: 50%;
    left: 50%;
}

/*
this contains the card and envelope, and provides a way to manipuate them
in unison. it gets faded in and slid in from the top after the page loads.
its the target for the wiggle animation
*/
#content {
    position: absolute;
    display: none;
    animation: wiggle 2s infinite;
    /* js animates this back to 50% */
    top: -350px;
    left: 50%;
    -webkit-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
    -webkit-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -moz-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
         -o-transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition: top 700ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}


/* the envelope pieces */
#envelope-flap {
    /*
    position: absolute;
    line-height: 500%;
    height: 83px;
    width: 262px;
    z-index: 5;
    transform: translateY(-75px) translateX(19px);
    background: url(envelope_parts/flap-front.png);
    background-size: 100% 100%;
    cursor: pointer;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    */

    position: absolute;
    line-height: 500%;
    height: 83px;
    width: 230px;
    z-index: 5;
    transform: translateY(-75px) translateX(35px);
    background: url(envelope_parts/flap-front.png);
    background-size: 100% 100%;
    cursor: pointer;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}
#envelope-back {
    width: 300px;
    height: 150px;
    background: url('/puppet/envelope_parts/pouch-inside.svg');
    background-size: 100% 100%;
    position: absolute;
    z-index: 0;
    transform: translateY(-50%);
}
#envelope-pouch {
    width: 300px;
    height: 150px;
    position: absolute;
    z-index: 3;
    background: url('envelope_parts/pouch-front.svg');
    background-size: 100% 100%;
    transform: translateY(-50%);
    cursor: pointer;
}
/* hides the card, which is longer than envelope */
#envelope-below {
    width: 300px;
    height: 300px;
    margin-top: 75px;
    background: #111;
    position: absolute;
    z-index: 2;
}
.envelope-back-piece,
.envelope-flap-piece {
    left: calc(50% - 150px);
    top: 50%;
    transition: transform 0.8s cubic-bezier(0.63, -0.14, 1, 0.29);
}


/*
opening the top flap of the envelope is handled here with transitions.
the sliding away of the envelope after opening is done in js for now
 */
#envelope-flap.opened {
    -webkit-transition:-webkit-transform 0.25s 0s;
    transition: -webkit-transform 0.25s 0s;
    transition: transform 0.25s 0s;
    transition: transform 0.25s 0s, -webkit-transform 0.25s 0s;
    -webkit-transform: translateY(-73px) translateX(35px) rotateX(-180deg);
    transform: translateY(-73px) translateX(35px) rotateX(-180deg);
}


/* card that comes out of the envelope */

/* this is for moving and scaling the whole card sub assembly */
#card-container {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transition: transform 0.5s;
    transform: translateX(-50%) translateY(-35%) scale(0.5);
    z-index: 2;
    border-radius: 15px;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
}
/* threejs canvas renders here */
#puppet-container {
    position: absolute;
}
/* this is a png overlay, sometimes with a frame */
#decoration-image {
    position: absolute;
}
/*
white translucent overlay over puppet when paused or replay waiting.
the big button sits inside this
 */
#big-button-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
}
/*
button on top of puppet showing play icon
*/
#big-play-button-overlay {
    position: absolute;
    top: 150px;
    left: 172px;
    background: #004692;
    border-radius: 136px;
    /* width: 201px; */
    z-index: 100;
    display: none;
    box-shadow: 0px 0px 15px 5px #00000099;
}
#big-play-button {
    width: 95px;
    cursor: pointer;
}
#big-button-img {
    position: relative; /* TODO: why doesnt absolute work here */
    top: 50%;
    transform: translateY(-50%);
    width: 175px;
}


/*
the ui elements that accomany the card after the envelope is opened
are faded in with js. theyre positions are hardcoded based on eye,
and the content holder is responsible for scaling things correctly.
so the layout is always the same, relatively between elements.

there is a wide mode where the playback controls are on the left,
and app links are on the right

there is a mobile mode where they are below

the js uses the viewport aspect ratio to determine which mode to use,
and hides and shows elements accordingly
*/

/* mobile mode stuff */

/* logo */
#k9-logo {
    position: absolute;
    left: 50%;
    height: 10%;
    transform: translateX(-50%);
    display: none;
}
/* mobile stuff below the card */
#mobile-replay-button {
    position: absolute;
    top: 288px;
    left: 172px;
    background: #004692;
    border-radius: 136px;
    /* width: 201px; */
    z-index: 100;
    display: none;
    box-shadow: 0 0px 15px 5px #00000099;
}
#mobile-replay-img {
    width: 95px;
    cursor: pointer;
}
#mobile-bottom-controls {
    position: absolute;
    top: 453px;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    padding-bottom: 40px;
    z-index: 10; /* card overlaps so this needs to be on top */
}
#mobile-volume-slider {
    position: absolute;
    top: -47px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 17px;
}
#mobile-volume-icon {
    position: absolute;
    width: 52px;
    top: -58px;
    left: -55px;
}
#mobile-share-button {
    width: 180px;
    font-size: 2em;
    margin: auto;
    border: 2px solid #004692;
    border-radius: 14px;
    line-height: 40px;
    letter-spacing: 1.4;
    cursor: pointer;
}
#mobile-hr {
    width: 80px;
    border: 1px solid #004692;
    margin-top: 30px;
    margin-bottom: 10px;
}
#mobile-app-tag-line {
    font-size: 2.5em;
    letter-spacing: 1.4;
}
#mobile-app-subhead {
    margin-top: 2.5%;
    font-size: 0.8em;
    line-height: 1.6;
}
#mobile-app-logos {
    margin-top: 5%;
    display: flex;
    text-align: center;
}
#mobile-app-logos > div {
    flex: 1 1 0;
}
#mobile-app-logos img {
    height: 50px;
}
#mobile-app-badges {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.app-badge {
    flex: 1 1 0;
}
.app-badge > img {
    width: 90px;
}

/* desktop control stuff */

/* logo */
#k9-logo-desktop {
    position: absolute;
    top: 2%;
    height: 7%;
    left: 2%;
    display: none;
}
/* desktop controls on the left */
#desktop-controls {
    position: absolute;
    display: none;
    /* just set by eye */
    height: 239px;
    width: 78px;
    top: -210px;
    left: -284px;
}

/* the subsections of the left controls */
#share-button {
    height: 50%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    width: 98%;
    border: 2px solid #004692;
    border-radius: 14px;
    cursor: pointer;
}
#share-text {
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
}
#desktop-hr {
    width: 80%;
    border: 1px solid #004692;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#desktop-share-icons {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}
.desktop-share-icon {
    flex: 1 1 0;
}

/* the blue vertical bar with play and pause and such */
.blue-background {
    border-radius: 14px;
    background: #004692;
}
.border {
    border: 1px solid red;
}
.flex-icon {
    width: 60%;
    cursor: pointer;
}
/* scoot the volume icon closer to the slider on desktop */
#desktop-volume-icon {
    position: relative;
    top: 15px
}
.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.desktop-playback-control > img {
    height: 60%;
    cursor: pointer;
}
#desktop-volume-slider {
    height: 100%;
    transform: rotate(-90deg);
    top: -5px;
    left: -13px;
    width: 105px;
}
.desktop-playback-control-tall input {
    position: relative;
    height: 80%;
}
input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    padding: 0 5px;
}

/* the links and text on the right of the card */
#desktop-app-links {
    position: absolute;
    text-align: left;
    width: 200px;
    height: 240px;
    display: none;
    /* set by eye */
    left: 200px;
    top: -135px;
}
#app-tag-line {
    font-size: 2.5em;
    letter-spacing: 1.4;
}
#app-subhead {
    margin-top: 2.5%;
    font-size: 0.8em;
    line-height: 1.6;
}
#app-logos {
    margin-top: 5%;
    display: flex;
    text-align: center;
}
#app-logos > div {
    flex: 1 1 0;
}
#app-logos img {
    height: 50px;
}
#app-badges {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.app-badge {
    flex: 1 1 0;
}
.app-badge > img {
    width: 90px;
}


/* cover the screen with an error message if something goes wrong */
#error {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: white;
    transform: translateY(-50%);
}


/* range slider hell */




/* unset browser styles for input range elements */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


/* vertical slider */
input[type=range].range-vertical {
  width: 100%;
  margin: 6.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].range-vertical:focus {
  outline: none;
}
input[type=range].range-vertical::-webkit-slider-runnable-track {
  background: #6fa1de;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range].range-vertical::-webkit-slider-thumb {
  margin-top: -6.5px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
input[type=range].range-vertical:focus::-webkit-slider-runnable-track {
  background: #8cb4e5;
}
input[type=range].range-vertical::-moz-range-track {
  background: #6fa1de;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range].range-vertical::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
input[type=range].range-vertical::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.4px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range].range-vertical::-ms-fill-lower {
  background: #528ed7;
  border: 0;
  border-radius: 50px;
}
input[type=range].range-vertical::-ms-fill-upper {
  background: #6fa1de;
  border: 0;
  border-radius: 50px;
}
input[type=range].range-vertical::-ms-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
input[type=range].range-vertical:focus::-ms-fill-lower {
  background: #6fa1de;
}
input[type=range].range-vertical:focus::-ms-fill-upper {
  background: #8cb4e5;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].range-vertical {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}





/* horizontal slider */

input[type=range].range-horizontal {
  width: 100%;
  margin: 6.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].range-horizontal:focus {
  outline: none;
}
input[type=range].range-horizontal::-webkit-slider-runnable-track {
  background: #4483c6;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 9px;
  cursor: pointer;
}
input[type=range].range-horizontal::-webkit-slider-thumb {
  margin-top: -5.5px;
  width: 20px;
  height: 20px;
  background: #004692;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
input[type=range].range-horizontal:focus::-webkit-slider-runnable-track {
  background: #5f95ce;
}
input[type=range].range-horizontal::-moz-range-track {
  background: #4483c6;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 9px;
  cursor: pointer;
}
input[type=range].range-horizontal::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #004692;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
input[type=range].range-horizontal::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.4px 0;
  color: transparent;
  width: 100%;
  height: 9px;
  cursor: pointer;
}
input[type=range].range-horizontal::-ms-fill-lower {
  background: #3671b1;
  border: 0;
  border-radius: 50px;
}
input[type=range].range-horizontal::-ms-fill-upper {
  background: #4483c6;
  border: 0;
  border-radius: 50px;
}
input[type=range].range-horizontal::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #004692;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.4);
}
input[type=range].range-horizontal:focus::-ms-fill-lower {
  background: #4483c6;
}
input[type=range].range-horizontal:focus::-ms-fill-upper {
  background: #5f95ce;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].range-horizontal {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

