body {
  background-color: #111;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  animation: wiggle 2s infinite;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
#envelope-back {
  width: 300px;
  height: 150px;
  background: #b49976;
  position: fixed;
  z-index: 0;
  transform: translateY(-50%);
}
#envelope-pouch {
  width: 300px;
  height: 150px;
  position: fixed;
  z-index: 3;
  transform: translateY(-50%);
  background: repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/100% 5px no-repeat, repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/5px 100% no-repeat, repeating-linear-gradient(-45deg, #cebda6, #cebda6 10px, #e74c3c 10px, #e74c3c 20px, #cebda6 20px, #cebda6 30px, #1e90ff 30px, #1e90ff 40px) 100% 100%/5px 100% no-repeat, #cebda6;
  -webkit-clip-path: polygon(80% 40%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 40%);
          clip-path: polygon(80% 40%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 40%);
  cursor: pointer;
}
#envelope-pouch:after {
  width: 300px;
  height: 150px;
  background: repeating-linear-gradient(-45deg, #c7b49a, #c7b49a 10px, #e74c3c 10px, #e74c3c 20px, #c7b49a 20px, #c7b49a 30px, #1e90ff 30px, #1e90ff 40px) 0 100%/100% 5px no-repeat, #c7b49a;
  content: '';
  position: absolute;
  left: 0px;
  z-index: 4;
  -webkit-clip-path: polygon(70% 10%, 100% 100%, 0 100%, 30% 10%);
          clip-path: polygon(70% 10%, 100% 100%, 0 100%, 30% 10%);
}
#envelope-below {
  width: 300px;
  height: 300px;
  margin-top: 75px;
  background: #111;
  position: fixed;
  z-index: 2;
}
#envelope-flap {
  position: fixed;
  height: 112.5px;
  width: 300px;
  z-index: 5;
  transform: translateY(-75px);
  -webkit-clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
          clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
  background: repeating-linear-gradient(-45deg, #c1ab8e, #c1ab8e 10px, #e74c3c 10px, #e74c3c 20px, #c1ab8e 20px, #c1ab8e 30px, #1e90ff 30px, #1e90ff 40px) 0 0/100% 5px no-repeat, #c1ab8e;
  -webkit-transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}
#envelope-flap-underside {
  position: fixed;
  height: 112.5px;
  width: 300px;
  z-index: 5;
  transform: translateY(-75px);
  background: #c1ab8e;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
          clip-path: polygon(5% 40%, 50% 100%, 95% 40%, 100% 0, 0 0);
  -webkit-transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s;
  transition: transform 0.25s 0.5s, z-index 0s 0.5s, -webkit-transform 0.25s 0.5s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}
.envelope-back-piece,
.envelope-flap-piece {
    left: calc(50% - 150px);
    top: 50%;
    transition: transform 0.8s cubic-bezier(0.63, -0.14, 1, 0.29);
}


/* opening the top flap of the envelope */
#envelope-flap.opened {
  -webkit-transition: z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  transition: z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  transition: transform 0.25s 0s, z-index 0s 0.25s;
  transition: transform 0.25s 0s, z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  -webkit-transform: translateY(-75px) rotateX(-180deg);
          transform: translateY(-75px) rotateX(-180deg);
  z-index: 1;
}
#envelope-flap-underside.opened {
  -webkit-transition: z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  transition: z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  transition: transform 0.25s 0s, z-index 0s 0.25s;
  transition: transform 0.25s 0s, z-index 0s 0.25s, -webkit-transform 0.25s 0s;
  -webkit-transform: translateY(-75px) rotateX(-180deg);
          transform: translateY(-75px) rotateX(-180deg);
  z-index: 1;
}
