@font-face {
    font-family: 'museo';
    src: url('/puppet/MuseoSansRounded-700.woff2') format('woff2'),
         url('puppet/MuseoSansRounded-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    overflow-y: hidden; /* gets changed in js when the ui is added */
    overflow-x: hidden;
    font-family: 'museo';
    background-image: url('/puppet/k9_create_background.svg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #004692;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('/puppet/k9_create_background.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('/puppet/k9_create_background.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform: scaleY(-1);
}

/*
envelope
*/
#flap {
    background: url('/puppet/envelope_parts/flap-front.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 623px;
    height: 406px;
    transform: translateY(-50%) translateX(-50%);
    z-index: 10; /* the message and stuff needs to fit below this initially */

    /* "To: Name" stuff */
    font-size: 2em;
    text-align: center;
    line-height: 110px;
}
#flap.opened {
    transform-origin: top center;
    /* translateY(-49%) so it hinges on the line instead of above it */
    transform: translateY(-49%) translateX(-50%) rotateX(180deg) !important;
    transition: top 1s ease-out, transform 0.75s linear; /* slow down the flap opening */
    z-index: 10;
}
#pouch {
    background: url('/puppet/envelope_parts/pouch-front.png');
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 623px;
    height: 406px;
    transform: translateY(-50%) translateX(-50%);
    z-index: 9; /* the message and stuff needs to fit below this initially */
}
#pouch-inside {
    background: url('/puppet/envelope_parts/pouch-inside.png');
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 623px;
    height: 406px;
    transform: translateY(-50%) translateX(-50%);
    z-index:1
}
.envelope-piece {
    transition: top 1s ease-out, transform 0.075s linear; /* quick for jiggling */
}
.top-ease-in {
    transition: top 1s ease-in !important; /* after envelope is open, gradually slide away */
}
.above {
    top: -1000px !important;
}
.middle {
    top: 50% !important;
}
.below {
    top: calc(100vh + 1000px) !important;
}
.rotate-right {
    transform: translateY(-50%) translateX(-50%) rotateZ(10deg) !important;
}
.rotate-left {
    transform: translateY(-50%) translateX(-50%) rotateZ(-10deg) !important;
}

/*
message inside envelope
*/
#message {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.loading-spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}
#message-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px 5px #00000099;
    background-image: url("./EnvelopeContents.png");
    z-index: 7;
}
.overlay-button {
    position: absolute;
    background: #004692;
    border-radius: 136px;
    width: 125px;
    height: 125px;
    z-index: 2;
    box-shadow: 0px 0px 15px 5px #00000099;
    transform: translate(-50%, -50%);
    cursor: pointer;
    top: 328px; /* frame + half of 512 */
    z-index: 4;
}
.overlay-center {
    left: 50%;
}
.overlay-left {
    left: 35%;
}
.overlay-right {
    left: 65%;
}
#big-play-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95px;
}
#big-alt-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95px;
}
#overlay-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

/* mobile stuff below the puppet */
/* opened message always has height 778 and width 656 */
#mobile-bottom-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* position it below the opened message */
    margin-top: calc(40px + (662px / 2));
    width: calc(656px / 1.5);
    height: 625px; /* by eye, to give some margin at the bottom */
    text-align: center;
}
#mobile-share-button {
    width: 340px;
    font-size: 29px;
    margin: auto;
    border: 3px solid #004692;
    border-radius: 22px;
    line-height: 60px;
    letter-spacing: 1.4;
    text-align: center;
    cursor: pointer;
}
#mobile-hr {
    width: 80px;
    border: 1px solid #004692;
    margin-top: 30px;
    margin-bottom: 10px;
}
#mobile-app-tag-line {
    font-size: 68px;
    letter-spacing: 1.4;
}
#mobile-app-subhead {
    margin-top: 2.5%;
    font-size: 25px;
    line-height: 1.6;
}
#mobile-app-logos {
    margin-top: 5%;
    display: flex;
    text-align: center;
}
#mobile-app-logos > div {
    flex: 1 1 0;
}
#mobile-app-logos img {
    height: 83px;
}
#mobile-app-badges {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.app-badge {
    flex: 1 1 0;
}
.app-badge > img {
    width: 90%;
}

/* app logo at the top of the page */
#k9-logo {
    position: absolute;
    /* position it above the opened message */
    top: calc(50% - (778px / 2) + 20px);
    left: 50%;
    transform: translate(-50%, -100%);
}
#k9-logo > img {
    width: calc(570px / 2);
}
/*
    186.84 : logo
    656 + (2 x 40) : message
    44 : share
    42 : hr

    = 1008.84
    zoom to fit all that vertically
*/
#container {
    height: 100%;
    /* this needs to happen in js transform: scale(calc(vmax / 1008.84px)); */
}

/*
desktop controls on the left
*/

#desktop-controls {
    position: absolute;
    height: 400px;
    width: 150px;
    top: calc(50% - 141px);
    left: calc(50% - 450px);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* the subsections of the left controls */
#share-button {
    height: 50%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    width: 98%;
    border: 2px solid #004692;
    border-radius: 14px;
    cursor: pointer;
}
#share-text {
    position: relative;
    top: 50%;
    margin: auto;
    font-size: 19px;
    transform: translateY(-50%);
}
#desktop-hr {
    width: 80%;
    border: 1px solid #004692;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#desktop-share-icons {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}
.desktop-share-icon {
    flex: 1 1 0;
}
.desktop-share-icon > img {
    width: 40px;
}

/* the blue vertical bar with play and pause and such */
.blue-background {
    border-radius: 14px;
    background: #004692;
}
.border {
    border: 1px solid red;
}
.flex-icon {
    width: 50%;
    cursor: pointer;
}
/* scoot the volume icon closer to the slider on desktop */
#desktop-volume-icon {
    position: relative;
    top: 15px
}
.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.desktop-playback-control > img {
    height: 60%;
    cursor: pointer;
}
#desktop-volume-slider {
    height: 100%;
    transform: rotate(-90deg);
    top: -5px;
    left: -13px;
    width: 173px;
}
.desktop-playback-control-tall input {
    position: relative;
    height: 80%;
}
input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    padding: 0 5px;
}


/*
the links and text on the right of the card
*/

/* width < 1230px the stuff on the right gets cut off */
@media (max-aspect-ratio:34/25) {
    #desktop-app-links {
        position: absolute;
        text-align: left;
        width: 200px;
        height: 240px;
        top: calc(50% - 100px);
        left: calc(50% + 448px);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #app-logos img {
        height: 50px;
        margin: 5px;
    }
    .app-badge-side > img {
        width: 80px;
        margin: 5px;
    }
}


@media (min-aspect-ratio:34/25) {
    #desktop-app-links {
        position: absolute;
        text-align: left;
        width: 287px;
        height: 240px;
        top: calc(50% - 100px);
        left: calc(50% + 510px);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    #app-logos img {
        height: 80px;
        margin: 5px;
    }
    .app-badge-side > img {
        width: 140px;
        margin: 5px;
    }
}

#app-tag-line {
    font-size: 2.8em;
    letter-spacing: 1.4;
}
#app-subhead {
    margin-top: 2.5%;
    font-size: 1.1em;
    line-height: 1.6;
}
#app-logos {
    margin-top: 5%;
    display: flex;
    text-align: center;
}
#app-logos > div {
    flex: 1 1 0;
}
#app-badges {
    margin-top: 50px;
    display: flex;
    text-align: center;
}
.app-badge-side {
    flex: 1 1 0;
}
